<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        // 使用 AJAX 发送表单数据，不跳转页面
        function autoSubmit() {
            // 获取表单元素
            const form = document.getElementById("questionForm");
            const formData = new FormData(form);

            // Convert FormData to URL-encoded string
            const urlEncodedData = new URLSearchParams();
            for (const [key, value] of formData.entries()) {
                urlEncodedData.append(key, value);
            }

            // Send the form data using fetch with application/x-www-form-urlencoded
            fetch(form.action, {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: urlEncodedData.toString(),  // URL-encoded string
            })
                .then(response => response.text())
                .then(result => {
                    console.log("Form submitted:", result);
                    if (result !== "OK") {
                        alert("Failed to submit your answer. Please try again.");
                    }
                    // Optional: Handle the result or navigate to the next page
                })
                .catch(error => {
                    console.error("Error submitting form:", error);
                    alert("Failed to submit your answer. Please try again.");
                });
        }

        let reviewIndex = 0;

        function showMoreReviews(reviewsToShow) {
            const reviews = document.querySelectorAll('.review-item');
            for (let i = reviewIndex; i < reviewIndex + reviewsToShow && i < reviews.length; i++) {
                reviews[i].style.display = 'block';
            }
            reviewIndex += reviewsToShow;
            if (reviewIndex >= reviews.length) {
                document.getElementById('show-more-button').style.display = 'none';
            }
        }

        // Function to get the font size from localStorage
        function applySavedFontSize() {
            const savedFontSize = localStorage.getItem('fontSize');
            if (savedFontSize) {
                setFontSize(savedFontSize); // Apply the saved font size if it exists
            }
        }

        function setFontSize(size) {
            const reviewsSection = document.querySelectorAll('.reviews-section');
            const reviewsContent = document.querySelectorAll('.review-content');
            const reviewsAvatar = document.querySelectorAll('.avatar');

            if (size === 'normal') {
                reviewsSection.forEach(elem => {
                    elem.style.fontSize = '16px';
                })
                reviewsContent.forEach(elem => {
                    elem.style.fontSize = '20px';
                })
                reviewsAvatar.forEach(elem => {
                    elem.style.width = '50px';
                    elem.style.height = '50px';
                })
            } else if (size === 'big') {
                reviewsSection.forEach(elem => {
                    elem.style.fontSize = '20px';
                })
                reviewsContent.forEach(elem => {
                    elem.style.fontSize = '24px';
                })
                reviewsAvatar.forEach(elem => {
                    elem.style.width = '62px';
                    elem.style.height = '62px';
                })
            } else if (size === 'super-big') {
                reviewsSection.forEach(elem => {
                    elem.style.fontSize = '24px';
                })
                reviewsContent.forEach(elem => {
                    elem.style.fontSize = '28px';
                })
                reviewsAvatar.forEach(elem => {
                    elem.style.width = '75px';
                    elem.style.height = '75px';
                })
            }

            // Save the selected font size to localStorage
            localStorage.setItem('fontSize', size);
        }



        // Display the first 3 reviews when the page loads
        document.addEventListener('DOMContentLoaded', function() {
            showMoreReviews({{.InitialReviewsToShow}});
            applySavedFontSize(); // Apply the saved font size when the page loads

            var header = document.querySelector('.header-section');
            var sticky = header.offsetTop;

            // Add the sticky class to the header when you reach its scroll position.
            // Remove the sticky class when you leave the scroll position.
            function toggleStickyHeader() {
                if (window.scrollY > sticky) {
                    header.classList.add('sticky');
                } else {
                    header.classList.remove('sticky');
                }
            }

            // When the user scrolls the page, execute the function
            window.onscroll = function() {
                toggleStickyHeader();
            };
        });
    </script>
</head>
<body>
<div class="text-size-changer-section">
    <p class="question-text">If you have problem reading the text, you can change the font size: </p>
    <div class="font-size-controls">
        <button onclick="setFontSize('normal')">Normal</button>
        <button onclick="setFontSize('big')">Big</button>
        <button onclick="setFontSize('super-big')">Super Big</button>
    </div>
</div>
<div class="header-section">
    <p class="question-text">If these are the reviews you see:</p>
</div>

<div class="container">
<!--    <div class="product-section">-->
<!--        <h2>Product Info</h2>-->
<!--        <img src="{{.UrlBase.ProductImage}}" alt="Product Image" class="product-image">-->
<!--    </div>-->

    <div class="reviews-section">
        <h2>Reviews</h2>
        {{range $review := .Question.Content.Reviews}}
        <div class="review-item" style="display: none;">
            <div class="review-header">
                <img src="/{{$review.AvatarUri}}" alt="Avatar" class="avatar">
                <div class="username-container"><strong>{{$review.Nickname}}</strong></div>
            </div>
            <div class="review-content">
                {{$review.Text}}
            </div>
        </div>
        {{end}}
        <button id="show-more-button" onclick="showMoreReviews(999)">Show More</button>
    </div>
</div>

<div class="question-section">
    <form id="questionForm" action="/submit" method="post">
        <input type="hidden" name="questionnaire_params" value="{{.ParamsStr}}">
        <p class="question-text">How likely are you to purchase this product? (1=Not at all likely, {{len .Options}}=Very likely)</p>

        {{range $i, $option := .Options}}
        <label class="option">
            <input type="radio" name="purchase_intention" value="{{$option}}" onclick="autoSubmit()" {{if eq $option $.PreviousAnswer}}checked{{end}} required> {{$option}}
        </label>
        {{end}}

    </form>
    {{if .UrlBase.PreviousQuestion}}
    <button class="blue-button"
            onclick="window.location.href='{{.UrlBase.PreviousQuestion}}'">
        Previous Question
    </button>
    {{end}}
    {{if .UrlBase.NextQuestion}}
    <button class="submit-button"
            onclick="window.location.href='{{.UrlBase.NextQuestion}}'">
        Next Question
    </button>
    {{end}}
    {{if .UrlBase.Finish}}
    <button class="submit-button"
            onclick="window.location.href='{{.UrlBase.Finish}}'">
        Finish
    </button>
    {{end}}
</div>

<!-- Question Navigation Section -->
<div class="question-navigation">
    <h3>Navigate to Question ({{add .Question.Index 1}} / {{.TotalQuestions}}):</h3>
    {{range $i, $answered := .QuestionAnswerStatus}}
    <button class="{{if eq $i $.Question.Index}}current{{else if $answered}}completed{{else}}incomplete{{end}}"
            onclick="window.location.href='{{index $.UrlBase.Questions $i}}'">
        {{add $i 1}}
    </button>
    {{end}}
</div>

</body>
</html>